[Desktop Entry]
Version=1.0
Name=Tourer
Comment= tourer P2P Cryptocurrency
Comment[fr]= tourer, monnaie virtuelle cryptographique pair à pair
Comment[tr]= tourer, eşten eşe kriptografik sanal para birimi
Exec=tourer-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/pivx;
Categories=Office;Finance;
StartupWMClass=Tourer-qt
